<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">inicio</ion-title>
    </ion-toolbar>
  </ion-header>
  
      <div style="text-align: center;">
        <h2>Asistencia</h2>
      </div>
  
    
      

      <ion-content class="ion-padding ion-text-center">
    
        <ion-segment [(ngModel)]="segment">
    
          <ion-segment-button value="scan">
            <ion-label>scan qr</ion-label>
          </ion-segment-button>
    
          <ion-segment-button value="generate">
            <ion-label>generar qr</ion-label>
          </ion-segment-button>
    
        </ion-segment>
    
        <div *ngIf="segment === 'scan'">
          g
        </div>
    
    
    
        <div class="segment" *ngIf="segment === 'generate'">
          <div class="segment-content">
    
            <div id="qrImage">
              <div class="d-flex-center">
                <div class="d-flex-center qr-wrapper">
                    <qr-code value="https://www.npmjs.com/package/ng-qrcode"
               size="300"
               errorCorrectionLevel="M" *ngIf="segment === 'generate'"> </qr-code>
                </div>
    
              </div>
    
            </div>
    
          </div>
        </div>
      

    
  

  <div *ngIf="capturedImage">
    <img [src]="capturedImage" alt="Imagen capturada" />
  </div>
 
  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="table-container">
          <h2 class="table-title">Asistencia</h2>
          <table>
            <thead>
              <tr>
                <th>rut</th>
                <th>nombre</th>
                <th>apellido</th>
                <th>asistencia</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let post of posts">
                <td>{{ post.rut }}</td>
                <td>{{ post.nombre }}</td>
                <td>{{ post.apellido }}</td>
                <td>{{ post.asistencia }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>

      </ion-content>
</ion-content>

