<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">inicio</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-title>RegistrAPP</ion-title>

  <ion-card-content>
  <div>
    <h1>bienvenido {{user}} </h1>
  </div>

  <ion-card-content id="menu_opciones">
    <h4>¿Que desea hacer?</h4>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button  color="primary" (click)="registrarAsistencia()">Registrar Asistencia</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card-content>
</ion-card-content>
</ion-content>
