<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>restablecerContrasena</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">restablecer Contraseña</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card-content>
    <ion-list>
      <ion-item>
        <ion-input [(ngModel)]="user" label="Usuario" labelPlacement="floating" placeholder="ingrese su usuario"></ion-input>
      </ion-item>
     <h1>{{user}}</h1>
    </ion-list>
  </ion-card-content>
</ion-content>
