<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> RegistrAPP </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title>RegistrAPP</ion-title>
    </ion-toolbar>
  </ion-header>

  <img  src=".\assets\imagenes\lpa fondo.jpg"/>
  <div id="container">
    
      <strong>inicio de sesión</strong>
      <br/>
      <ion-card color="light">
      <ion-card-content >
        <div class="login">
          <img src=".\assets\imagenes\Logo-Autonomo-blanco.webp" />
        </div>

        <ion-list>
          <ion-item>
            <ion-input
              [(ngModel)]="user.username" label="Usuario" labelPlacement="floating" placeholder="ingrese su usuario" errorText="usuario invalido"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input
              label="Contraseña" [(ngModel)]="user.password" labelPlacement="floating" placeholder="ingrese su contraseña"></ion-input>
          </ion-item>

          <ion-item>
            <h6>{{mensaje}}</h6>
            <ion-toggle justify="end">Recordar usuario</ion-toggle><br />
          </ion-item>
          <br>
          <div *ngIf="spinner">
            <ion-item id="carga">
              <ion-label>Cargando</ion-label>
              <mat-spinner></mat-spinner>
            </ion-item>
          </div>

          <ion-button fill="outline" (click)="login()">Iniciar sesión</ion-button>
          <br/>
          <ion-button fill="outline" (click)="restablecerContrasena()">Restablecer contraseña</ion-button>
        </ion-list>
      </ion-card-content>
    </ion-card>
    <footer>
      <p>Colegio de Morelos 2024</p>
    </footer>
  </div>
  
</ion-content>


