<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">dashboard</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-card>
    <ion-card-content>
      <ion-card-header>
        <ion-card-title>que desea hacer</ion-card-title>
    </ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button expand="full" (click)="irAsistencia()">Ir a Asistencia</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button expand="full" color="danger" (click)="logout()">Cerrar Sesión</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    
  </ion-card-content>
  </ion-card>
  
</ion-content>



